#container {
  --background-color: #fafafa;
  --padding: 1.5vw 2vw;
  --border-radius: .05vw;
  --box-shadow: 0 0.12vw 0.12vw 0 rgba(0, 0, 0, 0.14), 0 0.18vw 0.06vw -0.12vw rgba(0, 0, 0, 0.2), 0 0.06vw 0.3vw 0 rgba(0, 0, 0, 0.12);
  --transition-animation: all 1s cubic-bezier(.4, 0, .2, 1);
  --font-family-monospace: "Roboto Mono";
}

#background {
  background-color: #f5f5f5;
}

pres-title {
  --seen-transform: translateX(100vw);
}

pres-paragraph {
  --coming-transform: translateY(-100vh);
  --seen-transform: translateY(100vh);
}

pres-code-java {
  --padding: 1vw 5vw;
}


/* BLOCKQUOTES */

pres-blockquote {
  --quote-symbol-before: "";
  --quote-symbol-after: "";
  --padding: 2em;
  --border-left: none;
}

pres-blockquote::before {
  content: "\f10d";
  top: var(--position-vertical);
  left: var(--position-horizontal);
}

pres-blockquote::after {
  content: "\f10e";
  bottom: var(--position-vertical);
  right: var(--position-horizontal);
}

pres-blockquote::before, pres-blockquote::after {
  font: normal normal normal 10vw/1 FontAwesome;
  transition: var(--transition-animation);
  opacity: 0.2;
  position: absolute;
  --position-vertical: 15vw;
  --position-horizontal: 6vw;
}


/* LISTS */

pres-itemize {
  --item-spacing: 10vh;
}

pres-anim-li {
  --seen-opacity: 0.3;
}

pres-itemize pres-itemize,
pres-enumerate pres-itemize {
  --list-style-type: circle;
}

pres-enumerate pres-enumerate {
  --list-style-type: lower-latin;
}

pres-enumerate pres-enumerate pres-enumerate{
  --list-style-type: upper-roman;
}
