<template id="code-java_template">
  <link rel="stylesheet" href="components/code/code-java/prism.css">
  <style>
  :host {
    position: absolute;
    top: 2vh;
    left: 0;
    right: 0;
    bottom: 0;
    transition: var(--transition-animation);
  }
  pre {
    background-color: var(--background-color) !important;
    box-shadow: var(--box-shadow);
    padding: var(--padding,1vw) !important;
    margin: 8vw !important;
    padding-bottom: 1vw !important;
    font-size: var(--font-size, 3vw);
    overflow: visible !important;
    padding-left: 0.5em !important;
  }
  code {
    font-family: var(--font-family-monospace, "Courier", monospace) !important;
    font-weight: var(--font-weight, 300);
    border-radius: var(--border-radius);
    transition: var(--transition-animation);
    font-size: 0.7em;
  }
  span.line-numbers-rows {
    left: -4em !important;
    border: 0 !important;
    line-height: 4.5vw !important;
    top: -0.3em !important;
  }
  </style>
  <pre class="line-numbers">
    <code id="container" class="language-java" loading="false"></code>
  </pre>
</template>

<script>
  const prepareContainer = (newNodes, container) => {

    Array.from(newNodes).forEach((eachNewNode) => {
      if(eachNewNode.getAttribute("slot") == "content_raw") {
        container.innerHTML = "\n" + eachNewNode.innerHTML.substring(0, eachNewNode.innerHTML.length - 1);

        if(container.getAttribute("loading") == "false") {
          container.setAttribute("loading", "true");

          const render = () => {
            const loop = setInterval(() => {
              if(typeof(Prism.highlightElement) === "function") {
                clearInterval(loop);
                Prism.highlightElement(container);
              }
            }, 100);
          }

          // load library
          const libraryScript = document.createElement('script');
          libraryScript.src = "components/code/code-java/prism.js";
          libraryScript.setAttribute("data-manual", true);
          libraryScript.onload = render;
          container.parentNode.insertBefore(libraryScript, container);
        }
      }

    });
  }

  RegisterComponent("code-java", {
    onStart: (component) => {
      prepareContainer(component.childNodes, component.shadowRoot.getElementById("container"));
    },
    onContentChange: (mutation) => {
      prepareContainer(mutation.addedNodes, mutation.target.shadowRoot.getElementById("container"));
    }
  });
</script>
