<template id="itemize_template">
  <style>
  :host {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    transition: var(--transition-animation);
  }
  :host-context(span) {
    margin-left: 10vw;
  }
  ul {
    padding-left: 10vw;
  }
  li {
    color: var(--font-color, #1a1a1a);
    font-family: var(--font-family,"roboto", sans-serif);
    font-weight: var(--font-weight, 300);
    font-size: var(--font-size, 3vw);
    margin-bottom: var(--item-spacing, 5vh);
    list-style-type: var(--list-style-type, intial);
  }
  ::slotted(pres-itemize), ::slotted(pres-enumerate) {
    position: initial;
  }
  </style>
  <ul id="listContainer"></ul>
</template>

<script>
  wrapAndAppendNewNodes = (newNodes, container) => {
    const notLiComponents = ["PRES-ITEMIZE", "PRES-ENUMERATE", "PRES-ANIM-LI", "PRES-HIDDEN"];

    Array.from(newNodes).forEach((eachNewNode) => {
      if(eachNewNode.getAttribute("slot") !== "content_raw") {
        const newSlot = document.createElement("slot");
        newSlot.setAttribute("name", eachNewNode.attributes.slot.value);
        let contentContainer = newSlot;
        if(!notLiComponents.includes(eachNewNode.childNodes[0].tagName)) {
          const newLi = document.createElement("li");
          newLi.appendChild(newSlot);
          contentContainer = newLi;
        }
        container.appendChild(contentContainer);
      }
    });
  };

  RegisterComponent("itemize", {
    onStart: (component) => {
      wrapAndAppendNewNodes(component.childNodes, component.shadowRoot.getElementById("listContainer"));
    },
    onContentChange: (mutation) => {
      wrapAndAppendNewNodes(mutation.addedNodes, mutation.target.shadowRoot.getElementById("listContainer"));
    }
  });
</script>
