<template id="itemize_template">
  <slot name="content">
</template>

<script>
  splitText = (component) => {
    if(component.querySelector('ul[slot="content"]') === null) {
      let out = "";
      Array.from(component.querySelector('span[slot="content"]').getElementsByTagName("span")).forEach((eachLine) => {
        out += `<li>${eachLine.outerHTML}</li>`;
      });
      component.innerHTML = `<ul slot="content">${out}</ul>`;
    }
  }

  onContentChange = (component) => {
    splitText(component);
  }

  RegisterComponent("itemize", {
    onContentChange: onContentChange
  });
</script>
